@using BlogWebSite.Models.ViewModels
@{
    ViewData["Title"] = "Blog";
}
<h1>@TempData["name"]</h1>
@model BlogCreateViewModel
<form asp-controller="Blog" asp-action="Create" method="post" enctype="multipart/form-data">


    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Kategori Ad :</label>
        <select class="form-select" asp-items="@ViewBag.selectList" asp-for="CategoryId">
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label">Ürün Ad :</label>
        <input class="form-control" asp-for="Title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label">İçerik :</label>
        <textarea class="form-control" asp-for="Content"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>

    <div class="mb-3">
        <label asp-for="photo" class="form-label">Poster :</label>
        <input class="form-control" name="photo" asp-for="photo" type="file">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı ?
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Ürün Oluştur</button>
</form>
